# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore virtual environment folder
venv/

# Audio files (too large for git)
*.mp3

# OS files
.DS_Store

# Test output
output/

# *.txt

tok2vec/
tok2vec_rules/

transformer/
transformer_rules/